apiVersion: v1
kind: Service
metadata:
  name: my-app-service
  labels:
    app: my-app
  namespace: default
spec:
  selector:
    app: my-app
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
